<h1>Edit User {{user.nome}} </h1>

<div class="black_view">

  <form action="/users/edit" method="post" class="row m-3">

    <div class="row align-items-start">
      <input type="hidden" name="id" value="{{user.id}}">
      <div class="col-md-6">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" name="nome" value="{{user.nome}}" class="form-control" />
      </div>
    </div>

    <div class="row align-items-start">
      <div class="col-md-4">
        <label for="idade" class="form-label">Idade:</label>
        <input type="text" name="idade" value="{{user.idade}}" class="form-control" />
      </div>
    </div>

    <div class="col-sm-2">
      <input type="submit" value="Atualizar">
    </div>

  </form>

</div>