{{#if auth}}
<h2>{{message}}</h2>

<h1>Trabalhando com NODEJS - HANDLEBARS</h1>
<h3>Seja Bem-vindo</h3>

<div class="botoes">
  <a href="/users/add" class="btn2">Adicionar Usuários</a>
  <a href="/users/logout" class="btn2">Logout</a>
</div>

{{else}}

<h2>Faça o Login!</h2>
<a href="/">Login</a>
{{/if}}