<h1>Adicionar Usuários</h1>
<form action="/users/save" method="post">
  <input type="text" name="name" placeholder="Digite seu nome" />
  <input type="text" name="age" placeholder="Digite sua idade" />
  <input type="submit" value="Cadastrar" class="btn" />
</form>
<a href="/">Home</a>