* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  right: 20rem;
  padding: 2rem 10rem;
  gap: 7rem;
  background-color: rgb(97, 141, 228);
  border: 2px solid #000;
  margin-bottom: 2px;
  width: 100%;
}

header h1 {
  font-weight: 400;
}

header div {
  border: 1px solid black;
  border-radius: 50%;
  width: 20rem;
  display: flex;
}

header div img {
  width: 100%;
  border-radius: 50%;
}

nav {
  background-color: rgb(142, 234, 105);
  padding: 2rem;
  border: 2px solid #000;
}

nav ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

nav ul li {
  padding: 1rem;
  transition: .3s;
}

nav ul a {
  text-decoration: none;
  border: 2px solid #000;
  font-size: 2.5rem;
  color: #000;
  padding: 1rem 3rem;
}

nav ul li:hover {
  transform: scale(1.1);
}

aside {
  background-color: rgb(252, 187, 67);
  width: 25rem;
  height: 68%;
  padding: 2rem;
  border: 2px solid #000;
}

aside ul li {
  list-style: none;
  padding-bottom: 3rem;
  transition: .3s;
}

aside ul li a {
  text-decoration: none;
  color: #000;
  font-size: 2.3rem;
}

aside ul li:hover {
  transform: scale(1.1);
}